[submodule "deps/nodeunit"]
	path = deps/nodeunit
	url = git://github.com/caolan/nodeunit.git
[submodule "deps/underscore"]
	path = deps/underscore
	url = git://github.com/documentcloud/underscore.git
